{% extends "base.html" %}

{% block content %}
    <h1>Your Saved News</h1>

    {% if saved_news %}
    <ul class="list-group">
        {% for news in saved_news %}
        <li class="list-group-item mb-3">
            <h3>{{ news.news_title }}</h3>
            <p><a href="{{ news.news_link }}" target="_blank" class="text-primary">Read more</a></p>
            <p><small class="text-muted">{{ news.publish_date }}</small></p>
            <p><small class="text-muted">{{ news.description }}</small></p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You haven't saved any news yet.</p>
    {% endif %}
{% endblock %}
